@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --tw-color-primary-start-50: 0,121,109, 0.1;
  --tw-color-primary-end-50: 56, 198, 130, 0.1;
  --tw-color-primary-start-100: 0, 121, 109, 0.2;
  --tw-color-primary-end-100: 56, 198, 130, 0.2;
  --tw-color-primary-start-200: 0, 121, 109, 0.4;
  --tw-color-primary-end-200: 56, 198, 130, 0.4;
  --tw-color-primary-start-300: 0, 121, 109, 0.6;
  --tw-color-primary-end-300: 56, 198, 130, 0.6;
  --tw-color-primary-start-400: 0, 121, 109, 0.8;
  --tw-color-primary-end-400: 56, 198, 130, 0.8;
  --tw-color-primary-start-500 : 0, 121, 109, 1;
  --tw-color-primary-end-500 : 56, 198, 130, 1;
  --color-primary-start-50: rgba(var(--tw-color-primary-start-50));
  --color-primary-end-50: rgba(var(--tw-color-primary-end-50));
  --color-primary-start-100: rgba(var(--tw-color-primary-start-100));
  --color-primary-end-100: rgba(var(--tw-color-primary-end-100));
  --color-primary-start-200: rgba(var(--tw-color-primary-start-200));
  --color-primary-end-200: rgba(var(--tw-color-primary-end-200));
  --color-primary-start-300: rgba(var(--tw-color-primary-start-300));
  --color-primary-end-300: rgba(var(--tw-color-primary-end-300));
  --color-primary-start-400: rgba(var(--tw-color-primary-start-400));
  --color-primary-end-400: rgba(var(--tw-color-primary-end-400));
  --color-primary-start-500: rgba(var(--tw-color-primary-start-500));
  --color-primary-end-500: rgba(var(--tw-color-primary-end-500));
  
  --tw-color-secondary-50: 243, 243, 243;
  --tw-color-secondary-100: 206, 207, 210;
  --tw-color-secondary-200: 182, 184, 186;
  --tw-color-secondary-300: 158, 160, 165;
  --tw-color-secondary-400: 134, 136, 143;
  --tw-color-secondary-500: 109, 112, 121;
  --tw-color-secondary-600: 85, 89 98;
  --tw-color-secondary-700: 61, 65, 76;
  --tw-color-secondary-800: 24, 29, 42;
  --tw-color-secondary-900: 12, 17, 31;
  --color-secondary-50: rgb(var(--tw-color-secondary-50));
  --color-secondary-100: rgb(var(--tw-color-secondary-100));
  --color-secondary-200: rgb(var(--tw-color-secondary-200));
  --color-secondary-300: rgb(var(--tw-color-secondary-300));
  --color-secondary-400: rgb(var(--tw-color-secondary-400));
  --color-secondary-500: rgb(var(--tw-color-secondary-500));
  --color-secondary-600: rgb(var(--tw-color-secondary-600));
  --color-secondary-700: rgb(var(--tw-color-secondary-700));
  --color-secondary-800: rgb(var(--tw-color-secondary-800));
  --color-secondary-900: rgb(var(--tw-color-secondary-900));
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-slide-in {
  animation: slideIn 0.3s ease forwards;
}

.animate-slide-out {
  animation: slideOut 0.3s ease forwards;
}


body {
  /* color: rgb(var(--tw-color-secondary-200)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    /* background: var(--gradient-primary-500); */
}
