@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --tw-color-primary-start-50: 0,121,109, 0.1;
  --tw-color-primary-end-50: 56, 198, 130, 0.1;
  --tw-color-primary-start-100: 0, 121, 109, 0.2;
  --tw-color-primary-end-100: 56, 198, 130, 0.2;
  --tw-color-primary-start-200: 0, 121, 109, 0.4;
  --tw-color-primary-end-200: 56, 198, 130, 0.4;
  --tw-color-primary-start-300: 0, 121, 109, 0.6;
  --tw-color-primary-end-300: 56, 198, 130, 0.6;
  --tw-color-primary-start-400: 0, 121, 109, 0.8;
  --tw-color-primary-end-400: 56, 198, 130, 0.8;
  --tw-color-primary-start-500 : 0, 121, 109, 1;
  --tw-color-primary-end-500 : 56, 198, 130, 1;
  --color-primary-start-50: rgba(var(--tw-color-primary-start-50));
  --color-primary-end-50: rgba(var(--tw-color-primary-end-50));
  --color-primary-start-100: rgba(var(--tw-color-primary-start-100));
  --color-primary-end-100: rgba(var(--tw-color-primary-end-100));
  --color-primary-start-200: rgba(var(--tw-color-primary-start-200));
  --color-primary-end-200: rgba(var(--tw-color-primary-end-200));
  --color-primary-start-300: rgba(var(--tw-color-primary-start-300));
  --color-primary-end-300: rgba(var(--tw-color-primary-end-300));
  --color-primary-start-400: rgba(var(--tw-color-primary-start-400));
  --color-primary-end-400: rgba(var(--tw-color-primary-end-400));
  --color-primary-start-500: rgba(var(--tw-color-primary-start-500));
  --color-primary-end-500: rgba(var(--tw-color-primary-end-500));
  
  --tw-color-secondary-50: 243, 243, 243;
  --tw-color-secondary-100: 206, 207, 210;
  --tw-color-secondary-200: 182, 184, 186;
  --tw-color-secondary-300: 158, 160, 165;
  --tw-color-secondary-400: 134, 136, 143;
  --tw-color-secondary-500: 109, 112, 121;
  --tw-color-secondary-600: 85, 89 98;
  --tw-color-secondary-700: 61, 65, 76;
  --tw-color-secondary-800: 24, 29, 42;
  --tw-color-secondary-900: 12, 17, 31;
  --color-secondary-50: rgb(var(--tw-color-secondary-50));
  --color-secondary-100: rgb(var(--tw-color-secondary-100));
  --color-secondary-200: rgb(var(--tw-color-secondary-200));
  --color-secondary-300: rgb(var(--tw-color-secondary-300));
  --color-secondary-400: rgb(var(--tw-color-secondary-400));
  --color-secondary-500: rgb(var(--tw-color-secondary-500));
  --color-secondary-600: rgb(var(--tw-color-secondary-600));
  --color-secondary-700: rgb(var(--tw-color-secondary-700));
  --color-secondary-800: rgb(var(--tw-color-secondary-800));
  --color-secondary-900: rgb(var(--tw-color-secondary-900));
}

@layer  utilities{
  .display-lg-bold {
    @apply text-[72px] font-bold leading-[52px];
  }
  .display-lg-semibold {
    @apply text-[72px] font-semibold leading-[52px];
  }
  .display-lg-medium {
    @apply text-[72px] font-medium leading-[52px];
  }
  .display-lg-regular {
    @apply text-[72px] font-normal leading-[52px];
  }
  .display-sm-bold {
    @apply text-[44px] font-bold leading-[40px] tracking-[-0.96px];
  }
  .display-sm-semibold {
    @apply text-[44px] font-semibold leading-[40px] tracking-[-0.96px];
  }
  .display-sm-medium {
    @apply text-[44px] font-medium leading-[40px] tracking-[-0.96px];
  }
  .display-sm-regular {
    @apply text-[44px] font-normal leading-[40px] tracking-[-0.96px];
  }
  .text-6xl-bold {
    @apply text-[44px] font-bold leading-[52px] tracking-[-0.88px];
  }
  .text-6xl-semibold {
    @apply text-[44px] font-semibold leading-[52px] tracking-[-0.88px];
  }
  .text-6xl-medium {
    @apply text-[44px] font-medium leading-[52px] tracking-[-0.88px];
  }
  .text-6xl-regular {
    @apply text-[44px] font-normal leading-[52px] tracking-[-0.88px];
  }
  .text-5xl-bold {
    @apply text-[36px] font-bold leading-[44px];
  }
  .text-5xl-semibold {
    @apply text-[36px] font-semibold leading-[44px];
  }
  .text-5xl-medium {
    @apply text-[36px] font-medium leading-[44px];
  }
  .text-5xl-regular {
    @apply text-[36px] font-normal leading-[44px];
  }
  .text-4xl-bold {
    @apply text-[32px] font-bold leading-[40px];
  }
  .text-4xl-semibold {
    @apply text-[32px] font-semibold leading-[40px];
  }
  .text-4xl-medium {
    @apply text-[32px] font-medium leading-[40px];
  }
  .text-4xl-regular {
    @apply text-[32px] font-normal leading-[40px];
  }
  .text-3xl-bold {
    @apply text-[28px] font-bold leading-[36px];
  }
  .text-3xl-semibold {
    @apply text-[28px] font-semibold leading-[36px];
  }
  .text-3xl-medium {
    @apply text-[28px] font-medium leading-[36px];
  }
  .text-3xl-regular {
    @apply text-[28px] font-normal leading-[36px];
  }
  .text-2xl-bold {
    @apply text-[24px] font-bold leading-[32px];
  }
  .text-2xl-semibold {
    @apply text-[24px] font-semibold leading-[32px];
  }
  .text-2xl-medium {
    @apply text-[24px] font-medium leading-[32px];
  }
  .text-2xl-regular {
    @apply text-[24px] font-normal leading-[32px];
  }
  .text-xl-bold {
    @apply text-[20px] font-bold leading-[28px];
  }
  .text-xl-semibold {
    @apply text-[20px] font-semibold leading-[28px];
  }
  .text-xl-medium {
    @apply text-[20px] font-medium leading-[28px];
  }
  .text-xl-regular {
    @apply text-[20px] font-normal leading-[28px];
  }
  .text-lg-bold {
    @apply text-[18px] font-bold leading-[28px];
  }
  .text-lg-semibold {
    @apply text-[18px] font-semibold leading-[28px];
  }
  .text-lg-medium {
    @apply text-[18px] font-medium leading-[28px];
  }
  .text-lg-regular {
    @apply text-[18px] font-normal leading-[28px];
  }
  .text-md-bold {
    @apply text-[16px] font-bold leading-[24px];
  }
  .text-md-semibold {
    @apply text-[16px] font-semibold leading-[24px];
  }
  .text-md-medium {
    @apply text-[16px] font-medium leading-[24px];
  }
  .text-md-regular {
    @apply text-[16px] font-normal leading-[24px];
  }
  .text-sm-bold {
    @apply text-[14px] font-bold leading-[20px];
  }
  .text-sm-semibold {
    @apply text-[14px] font-semibold leading-[20px];
  }
  .text-sm-medium {
    @apply text-[14px] font-medium leading-[20px];
  }
  .text-sm-regular {
    @apply text-[14px] font-normal leading-[20px];
  }
  .text-xs-bold {
    @apply text-[12px] font-bold leading-[18px];
  }
  .text-xs-semibold {
    @apply text-[12px] font-semibold leading-[18px];
  }
  .text-xs-medium {
    @apply text-[12px] font-medium leading-[18px];
  }
  .text-xs-regular {
    @apply text-[12px] font-normal leading-[18px];
  }
  .overline-md {
    @apply text-[14px] font-medium leading-[20px] tracking-[1px];
  }
  .overline-sm {
    @apply text-[10px] font-medium leading-[20px] tracking-[1px];
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-slide-in {
  animation: slideIn 0.3s ease forwards;
}

.animate-slide-out {
  animation: slideOut 0.3s ease forwards;
}


body {
  /* color: rgb(var(--tw-color-secondary-200)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    /* background: var(--gradient-primary-500); */
}
